{
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "avoid",
        "semi": false,
        "trailingComma": "none",
        "endOfLine": "auto",
        "jsxSingleQuote": true,
        "useTabs": false,
        "singleQuote": true,
        // "ecmaVersion": 2020,
        // "parser": "typescript",
      }
    ]
  }
}
